 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
      <div style="text-align:left;">
        <p>The programming languages I mainly code with are C#, Java and Python. I also code in C++ which I used for coding some of my project with OpenGL and CUDA framework. I have expertise in the object-oriented programming paradigm but I also used to code in functional paradigm, mainly in Python 3, and in aspect-oriented paradigm with AspectJ. Recently I also have tried the data-oriented design programming.</p>
      </div>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicons devicons-git" style="color:#e84427;"></i>
      <i class="devicons devicons-unity_small" style="color:#000000;"></i>
      <div style="text-align:left;">
        <p>The majority of my videogame and real-time graphics projects I made are developed with Unity game engine. I also have coded with the OpenGL library and developed some shaders in GLSL. I have some experience with GPGPU parallel programming with Nvidia CUDA framework. For my projects I usually organize the work in repositories with the distributed version-control system Git.</p>
      </div>
    </div>
</div>
