<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="A*" src="{{ "/assets/img/mappa.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Scalabilità di A* all'interno di un game engine </h3>
    <ul>
      <li> Master degree's thesis</li>
    </ul>
    <p>A data-oriented design multithreaded implementation of a pathfinding system using the entity-component-system pattern. Developed with Unity engine.</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/PathfindingUnity">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="SpaceGL" src="{{ "/assets/img/spacegl.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SpaceGL </h3>
    <ul>
      <li> C++/OpenGL</li>
    </ul>
    <p>A simple 3D shooter game made in plain C++ with the OpenGL library.</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/SpaceGL">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CUDA Fractals" src="{{ "/assets/img/fract.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CUDA Fractals viewer </h3>
    <ul>
      <li> CUDA C++</li>
    </ul>
    <p>A 3D fractals viewer on GPU made with parallel programming using CUDA C++.</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/CUDA_3Dfractals">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="C++ Snake" src="{{ "/assets/img/snake.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> C++ Snake </h3>
    <ul>
      <li> C++/SFML</li>
    </ul>
    <p>An implementation of Snake game using plain C++ with SFML library.</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/SnakeSFML">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">

  </div>
  <div class="contents">
    <h3> Edge network </h3>
    <ul>
      <li> Java REST/gRPC</li>
    </ul>
    <p>An implementation of a cloud edge network for the monitoring of the pollution levels of the air in a city. Made in Java with REST API and Google gRPC API.</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/edgeNetwork">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="SpaceGL" src="{{ "/assets/img/level.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> The Library </h3>
    <ul>
      <li> Level design</li>
    </ul>
    <p>A rpg game set in “Doctor Who” universe. Role: level designer.</p>

  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Forbidden Seas" src="{{ "/assets/img/fs.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Forbidden Seas </h3>
    <ul>
      <li> Unity/C#</li>
    </ul>
    <p>A multiplayer game all-vs-all, blend between MOBA and racing/pursuit based games. Role: gameplay programmer, game designer, 3D modeling.</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/ForbiddenSeas">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Entanglement" src="{{ "/assets/img/en1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Entanglement </h3>
    <ul>
      <li> Unity/C#</li>
    </ul>
    <p>A platformer game set in two entangled dimensions. Role: gameplay programmer, game designer.</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/entanglement">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Forbidden Seas" src="{{ "/assets/img/eq.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> EarthQuick </h3>
    <ul>
      <li> Unity/C#</li>
    </ul>
    <p>Mobile game created at the GlobalGameJam 2017, made with Unity
Role: programmer. (based on my bachelor thesis).</p>
    <a class="project-link" href="http://github.com/manuelsalvadori/ggj2017earthquick">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Fantogrammi" src="{{ "/assets/img/fanto.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Implementazione di fantogrammi per dispositivi mobili </h3>
    <ul>
      <li> Bachelor degree's thesis</li>
    </ul>
    <p>Implementation of an anamorphic stereo rendering on handheld mobile devices. Made with Unity engine.</p>

  </div>
</div>
